body{
  /* background-color: #1B0025; */
  background-color: #120018;
  color: white;
  font-family: Arial;
  /* background-image: url('/bgimg2.jpg'); */
}
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}